/*CSS Document*/
@charset "utf-8";
/* Variables CSS */
:root {
    --rojo: #c00000;
    --rosado: #f3c4c480;
    --blanco: white;
    --negro: black;
    --negrotransparente: #00000094;
    --gris: rgb(192, 192, 192);
    --grisclaro: rgb(224, 224, 224);
    --azuloscuro: #001c5c;
    --letra: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Formato para PC */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--letra);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--rosado);
    overflow-x: hidden;
}
header {
    height: 18vh;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--blanco);
    border-bottom: 2px solid var(--negro);
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    'logo navegacion'; 
}
.logo {
    grid-area: logo;
    vertical-align: middle;
}
.logo img {
    width: 30vh;
    margin: 10px;
    margin-left: 20%;
    animation-name: aparecerLogoPC;
    animation-duration: 1s;
}
.navegacion {
    grid-area: navegacion;
    opacity: 0;
    vertical-align: middle;
    animation: aparecerNavegacionPC 1s ease-in-out 1s forwards;
}
.navegacion ul {
    text-align: right;
    margin-top: 18vh;
    transform: translateY(-11vh);
    margin-right: 20%;
}
.navegacion ul li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    padding: 5px;
}
.navegacion ul li a {
    text-decoration: none;
    color: var(--negro);
}
.navegacion ul li.seleccionado, .navegacion ul li a:hover {
    color: var(--rojo);
}
.navegacion ul li span img {
    transform: translate(0px, 10px);
}
.navegacion ul li ul {
    display: none;
    position: absolute;
    min-width: 200px;
    text-align: left;
    z-index: 12;
    background-color: var(--blanco);
    border: 2px solid var(--negro);
    transform: translate(0px, -18vh);
}
.navegacion ul li:hover > ul {
    display: block;
}
.navegacion ul li ul li {
    position: relative;
}
.navegacion ul li ul li a {
    color: var(--negro);
}
.navegacion ul li ul li a:hover {
    color: var(--rojo);
}
#navegacionmovil, #closenav {
    display: none;
    text-align: right;
    margin-top: 20px;
    margin-right: 5vh;
}
#navegacionmovil:hover, #closenav:hover {
    color: var(--rojo);
}
main.index {
    padding-top: 20vh;
    height: auto;
}
main.index h1.telediario, main.index section.noticias {
    text-align: center;
}
main.index h1.telediario {
    opacity: 0;
    font-size: 48px;
    animation: aparecerTituloTelediario 1s ease-in-out 2s forwards;
}
main.index section.noticias {
    margin-top: 1.5%;
    margin-left: 15%;
    margin-right: 15%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.8fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    'podcast1 podcast2 podcast3'
    'paginacion paginacion paginacion'; 
}
#podcast1 {
    grid-area: podcast1;
    background-color: var(--blanco);
    border: 2px solid var(--negro);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    opacity: 0;
    animation: aparecerPodcast1 1s ease-in-out 3s forwards;
}
#podcast2 {
    grid-area: podcast2;
    background-color: var(--blanco);
    border: 2px solid var(--negro);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    opacity: 0;
    animation: aparecerPodcast2 1s ease-in-out 4s forwards;
}
#podcast3 {
    grid-area: podcast3;
    background-color: var(--blanco);
    border: 2px solid var(--negro);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    opacity: 0;
    animation: aparecerPodcast3 1s ease-in-out 5s forwards;
}
#podcast1 img, #podcast2 img, #podcast3 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: auto;
}
#podcast1 h1, #podcast2 h1, #podcast3 h1 {
    padding: 10px;
    transform: translate(0px, -5px);
    background-color: var(--grisclaro);
    border-top: 2px solid var(--negro);
    font-size: 22px;
}
#podcast1 p, #podcast2 p, #podcast3 p {
    padding: 10px;
    text-align: left;
}
#podcast1 p.enlace, #podcast2 p.enlace, #podcast3 p.enlace {
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}
#podcast1 p.enlace:hover, #podcast2 p.enlace:hover, #podcast3 p.enlace:hover {
    background-color: var(--gris);
}
#podcast1 p.autor, #podcast2 p.autor, #podcast3 p.autor {
    text-align: center;
    color: var(--azuloscuro);
}
#paginacion {
    grid-area: paginacion;
    padding: 10px;
    background-color: var(--blanco);
    border: 2px solid var(--negro);
    margin: 20px;
    border-radius: 20px;
    opacity: 0;
    animation: aparecerPaginacion 1s ease-in-out 6s forwards;
}
#paginacion p {
    font-weight: bold;
    padding: 10px;
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
}   
#paginacion a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    background-color: var(--blanco);
    color: var(--negro);
    margin: 0 5px;
}
#paginacion a:hover {
    background-color: var(--gris);
    color: var(--blanco);
    border-radius: 100%;
}
footer {
    background-color: var(--azuloscuro);
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    padding: 5vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    'colaborador copyright correos';
}
.colaborador {
    grid-area: colaborador;
    opacity: 0;
    animation: aparecerEmpresaColaboradora 1s ease-in-out 7s forwards;
}
.copyright {
    grid-area: copyright;
    opacity: 0;
    animation: aparecerCopyright 1s ease-in-out 8s forwards;
}
.copyright p {
    margin-top: 5vh;
}
.correos {
    grid-area: correos;
    opacity: 0;
    animation: aparecerCorreos 1s ease-in-out 9s forwards;
}
.colaborador img, .correos img {
    width: 50%;
}
/* Formato para Tablet o iPad */
@media screen and (min-width: 600px) and (max-width: 1024px){
    header {
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr 0fr 0fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'logo navegacionmovil closenav'
        'navegacion navegacion navegacion'; 
    }
    .logo {
        grid-area: logo;
    }
    .logo img {
        margin-left: 5%;
        animation-name: aparecerLogoTablet;
        animation-duration: 1s;
    }
    .navegacion {
        grid-area: navegacion;
        width: 100%;
        height: 250vh;
        display: none;
        background-color: var(--blanco);
    }
    .navegacion ul {
        text-align: center;
        transform: translate(0px, 30px);
    }
    .navegacion ul li {
        display: block;
        margin: 10px;
        padding: 5px;
    }
    #navegacionmovil {
        grid-area: navegacionmovil;
        display: block;
    }
    #closenav {
        grid-area: closenav;
    }
    main.index h1.telediario {
        margin-top: 15vh;
        margin-bottom: 3vh;
        animation: aparecerTituloTelediario 1s ease-in-out 2s forwards;
    }
    main.index section.noticias {
        margin-top: 1.5%;
        margin-left: 5%;
        margin-right: 5%;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0fr 0fr 0fr 0.2fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'podcast1'
        'podcast2'
        'podcast3'
        'paginacion'; 
    }
    #podcast1 {
        grid-area: podcast1;
        margin-bottom: 20px;
    }
    #podcast2 {
        grid-area: podcast2;
        margin-bottom: 20px;
    }
    #podcast3 {
        grid-area: podcast3;
        margin-bottom: 20px;
    }
    footer {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'colaborador'
        'copyright'
        'correos';
    }
}
/* Formato para Móvil */
@media screen and (max-width: 600px) {
    header {
        height: 30vh;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 0fr 0fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'logo'
        'navegacionmovil'
        'closenav'
        'navegacion'; 
    }
    .logo {
        grid-area: logo;
        text-align: center;
    }
    .logo img {
        margin-left: 0%;
        animation-name: aparecerLogoMovil;
        animation-duration: 1s;
    }
    .navegacion {
        grid-area: navegacion;
        width: 100%;
        height: 200vh;
        display: none;
        background-color: var(--blanco);
    }
    .navegacion ul {
        text-align: center;
        transform: translate(0px, 30px);
    }
    .navegacion ul li {
        display: block;
        margin: 10px;
        padding: 5px;
    }
    #navegacionmovil {
        grid-area: navegacionmovil;
        display: block;
        text-align: right;
        animation: aparecerNavegacionMovil 1s ease-in-out 1s forwards;
    }
    #closenav {
        grid-area: closenav;
    }
    main.index h1.telediario {
        margin-top: 15vh;
        margin-bottom: 3vh;
        font-size: 32px;
        animation: aparecerTituloTelediario 1s ease-in-out 2ss forwards;
    }
    main.index section.noticias {
        margin-left: 0%;
        margin-right: 0%;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0fr 0fr 0fr 0fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'podcast1'
        'podcast2'
        'podcast3'
        'paginacion'; 
    }
    #podcast1 {
        grid-area: podcast1;
        margin-bottom: 20px;
    }
    #podcast2 {
        grid-area: podcast2;
        margin-bottom: 20px;
    }
    #podcast3 {
        grid-area: podcast3;
        margin-bottom: 20px;
    }
    footer {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        'colaborador'
        'copyright'
        'correos';
    }
}
/* Animaciones CSS */
@keyframes aparecerLogoPC {
    from {
        opacity: 0;
        margin-left: 0%;
    } to {
        opacity: 1;
        margin-left: 20%;
    }
}
@keyframes aparecerLogoTablet {
    from {
        opacity: 0;
        margin-left: 0%;
    } to {
        opacity: 1;
        margin-left: 5%;
    }
}
@keyframes aparecerLogoMovil {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes aparecerNavegacionPC {
    from {
        opacity: 0;
        margin-right: 0%;
    } to {
        opacity: 1;
        margin-right: 20%;
    }
}
@keyframes aparecerNavegacionMovil {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes aparecerTituloTelediario {
    from {
        opacity: 0;
        transform: translate(0px, 40px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerPodcast1 {
    from {
        opacity: 0;
        transform: translate(0px, 40px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerPodcast2 {
    from {
        opacity: 0;
        transform: translate(0px, 40px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerPodcast3 {
    from {
        opacity: 0;
        transform: translate(0px, 40px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerPaginacion {
    from {
        opacity: 0;
        transform: translate(-20px, 0px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerEmpresaColaboradora {
    from {
        opacity: 0;
        transform: translate(-20px, 0px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerCopyright {
    from {
        opacity: 0;
        transform: translate(0px, 20px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes aparecerCorreos {
    from {
        opacity: 0;
        transform: translate(20px, 0px);
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}